* {
    margin: 0;
    padding: 0;
}

h1, h2 {
  text-align: center;
}

a:link,
a:active,
a:visited {
  color: #ff1414;
  text-decoration: none;
  font-size: 1rem;
}
.user,
.post {
    width: 90%;
}

.user_row,
.post_row,
.user_block{
    display: flex;
}

.user_container,
.user_row,
.post_container,
.post_row
{
    gap: 1.5rem;
}

.user_row,
.post_row {
    width: 100%;
}

.user,
.post {
    flex-direction: column;
}

.user_image{
    width: 10%;
    border: 1px solid #a70000 ;
}

.user_block,
.user_bio,
.user_posts,
.post_comments{
    border: 1px solid #000000 ;
    padding: 0 1rem;
    width: 80%;
}

.user_block p{
    text-align: right;
}